/* @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap"); */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #00f6ff;
}
.display {
  height: 3em;
  width: 100%;
  max-width: 400px;
  background-color: #000;
  color: #00f6ff;
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: 2px solid #00f6ff;
  box-shadow: 0 0 10px #00f6ff;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
}
.buttons button {
  background-color: #1a1a1a;
  color: #00f6ff;
  border: 2px solid #00f6ff;
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px #00f6ff;
}
.buttons button:hover {
  background-color: #00f6ff;
  color: #1a1a1a;
  box-shadow: 0 0 20px #00f6ff;
}
.buttons button:active {
  background-color: #00b2cc;
  box-shadow: 0 0 5px #00f6ff;
}
.buttons button:nth-child(17) {
  grid-column: span 4;
  background-color: #00b2cc;
  color: #fff;
  box-shadow: 0 0 10px #00f6ff;
}
